Repository docdyhr/financial-dashboard-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-consistency, validate-docker-files

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  # Temporarily disabled ruff due to extensive linting issues
  # - repo: https://github.com/charliermarsh/ruff-pre-commit
  #   rev: v0.11.13
  #   hooks:
  #     - id: ruff
  #       args: [--fix, --exit-non-zero-on-fix]
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.16.0
  #   hooks:
  #     - id: mypy
  # Temporarily disabled flake8 due to configuration issues
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 7.2.0
  #   hooks:
  #     - id: flake8
  #       args: [--max-line-length=120, --extend-ignore=E203,W503,T201,F401,F811,F821,E402,E501,W291,W292,W293]
  # Temporarily disabled bandit - security issues noted for future resolution
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.8.3
  #   hooks:
  #     - id: bandit
  #       args: [--skip, "B101,B601,B404,B603,B607,B104,B110,B311"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: check-xml
      - id: check-vcs-permalinks
      - id: check-builtin-literals
      - id: check-byte-order-marker
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: check-version-consistency
        name: Check version consistency across files
        entry: python scripts/check_version_consistency.py
        language: python
        files: ^(pyproject\.toml|backend/__init__\.py)$
        pass_filenames: false

      - id: validate-docker-files
        name: Validate Docker files
        entry: bash -c 'for f in docker/Dockerfile.*; do docker run --rm -i hadolint/hadolint < "$f" || true; done'
        language: system
        files: ^docker/Dockerfile\..+$
        pass_filenames: false

fix: update ISIN resolver API test response schema expectations
  tests/api/test_isin_api.py
Due: none

style: apply pre-commit formatting fixes to ISIN tests
  archive/old_test_files/test_claude_desktop_access.py
  database/migrations/versions/20241216_1400_add_isin_support.py
  tests/api/test_isin_api.py
Due: none

style: apply black formatting to ISIN tests
  tests/api/test_isin_api.py
Due: none

fix: resolve CI/CD pipeline failures
  .github/workflows/ci.yml
Due: none

fix: improve ISIN API test coverage and resolve configuration issues
  pyproject.toml
  tests/api/test_isin_api.py
Due: check-version-consistency

fix: achieve 100% ISIN API test success rate (41/41 passing)
  tests/api/test_isin_api.py
Due: none

fix: resolve CI/CD pipeline failures - formatting and configuration issues
  mcp_server/auth.py
  mcp_server/financial_dashboard_mcp.py
  pyproject.toml
  scripts/test_production_features.py
  scripts/validate_production.py
Due: check-version-consistency

fix: resolve ruff/isort import formatting conflicts
  backend/models/asset.py
  backend/models/transaction.py
  pyproject.toml
Due: check-version-consistency

fix: correct pyproject.toml configurations after version bump
  pyproject.toml
Due: check-version-consistency

fix: ignore PLC0415 (import in local scope) for scripts
  pyproject.toml
Due: check-version-consistency

fix: correct Python version configurations after automated version bump
  pyproject.toml
Due: check-version-consistency

fix: expand PLC0415 ignores and correct Python version configurations
  pyproject.toml
Due: check-version-consistency

fix: expand PLC0415 ignore patterns for all backend and frontend modules
  pyproject.toml
Due: check-version-consistency

fix: correct Python version configurations corrupted by version bump 2.5.11
  pyproject.toml
Due: check-version-consistency

fix: add PLC0415 ignore for mcp_server/* directory
  pyproject.toml
Due: check-version-consistency

fix: correct Python version configurations corrupted by version bump 2.5.12
  pyproject.toml
Due: check-version-consistency

fix: add missing alembic.ini file for CI/CD database migrations
  alembic.ini
Due: none

fix: correct Python version configurations corrupted by version bump 2.5.13
  pyproject.toml
Due: check-version-consistency

fix: add missing psutil dependency for performance tests
  requirements-dev.txt
Due: none

fix: correct Python version configurations corrupted by version bump 2.5.14
  pyproject.toml
Due: check-version-consistency

fix: resolve critical technical debt issues
  CHANGELOG.md
  backend/api/cash_accounts.py
  backend/api/portfolio.py
  docs/TODO.md
  frontend/components/auth.py
  frontend/components/portfolio.py
  pyproject.toml
  requirements.txt
  start_services.py
  tests/conftest.py
  tests/integration/test_cash_account_integration.py
  tests/integration/test_isin_sync_service.py
  tests/performance/test_isin_performance.py
  tests/unit/test_isin_utils.py
Due: check-version-consistency

refactor: consolidate exception hierarchies and extract hardcoded configuration
  backend/api/positions.py
  backend/config.py
  backend/constants.py
  backend/core/exceptions.py
  backend/exceptions.py
  backend/main.py
  backend/services/exceptions.py
  backend/services/isin_utils.py
  backend/services/market_data.py
  frontend/config.py
  tests/auth/test_dependencies.py
  tests/unit/test_isin_utils.py
Due: none

refactor: break down large portfolio.py into focused modules
  frontend/components/portfolio.py
  frontend/components/portfolio_charts.py
  frontend/components/portfolio_data.py
  frontend/components/portfolio_tables.py
  frontend/components/portfolio_utils.py
  frontend/components/portfolio_widgets.py
  pyproject.toml
Due: check-version-consistency

refactor: break down large isin_analytics_dashboard.py into focused modules
  frontend/components/isin_analytics_charts.py
  frontend/components/isin_analytics_dashboard.py
  frontend/components/isin_analytics_data.py
  frontend/components/isin_analytics_quality.py
  frontend/components/isin_analytics_widgets.py
Due: none

docs: update project documentation to reflect technical debt resolution
  CHANGELOG.md
  docs/RECOMMENDATIONS.md
  docs/TODO.md
Due: none

feat: LEGENDARY test suite resolution - 53 tests fixed, 94.2% pass rate achieved
  CHANGELOG.md
  docs/RECOMMENDATIONS.md
  docs/TODO.md
  pytest.ini.backup
  tests/integration/test_cash_account_integration.py
  tests/performance/test_isin_performance.py
  tests/test_e2e_system.py
  tests/test_portfolio_service.py
  tests/test_position_service.py
  tests/unit/test_isin_utils.py
Due: none

feat: comprehensive .env configuration with 80+ environment variables
  .env.example
  CHANGELOG.md
  README.md
  backend/config.py
  docker-compose.yml
  docker/Dockerfile.backend
  docs/CLAUDE.md
Due: validate-docker-files

fix: correct demo credentials display and configuration
  .env.example
  CHANGELOG.md
  README.md
  docs/CLAUDE.md
  frontend/components/auth.py
Due: none

feat: implement "Add Sample Data" functionality for portfolio dashboard
  CHANGELOG.md
  frontend/components/portfolio_tables.py
Due: none

fix: clarify demo credentials configuration vs actual login credentials
  .env.example
Due: none

refactor: improve test infrastructure and enhance service implementations
  Makefile
  TESTING.md
  TEST_FIXES_SUMMARY.md
  VS_CODE_TESTING_FIX.md
  archive/old_test_files/test_final_mcp.py
  archive/old_test_files/test_fixed_mcp.py
  archive/old_test_files/test_mcp_server.py
  archive/old_test_files/test_module_mcp.py
  backend/config.py
  backend/database.py
  backend/models/__init__.py
  backend/models/isin.py
  backend/services/isin_utils.py
  backend/services/position.py
  bin/pytest
  pyproject.toml
  pytest.sh
  pytest_health_check.py
  scripts/fix_tests.py
  scripts/integration_test.py
  test_health_check.py
  test_runner_diagnostic.py
  tests/conftest.py
  tests/services/test_position_service_comprehensive.py
  tests/test_mcp_backend_integration.py
  tests/test_mcp_server.py
  tests/test_vscode_fix_verification.py
  tests/unit/test_isin_utils.py
Due: check-version-consistency

fix: resolve JWT authentication and test database issues
  backend/auth/dependencies.py
  tests/api/test_auth.py
  tests/conftest.py
Due: none

feat: enhance development automation and fix high priority issues
  .claude-code.json
  CLAUDE.md
  Makefile
  bandit-report.json
  docs/TODO.md
  pyproject.toml
  tests/conftest.py
Due: check-version-consistency
